@import url('https://fonts.googleapis.com/css?family=Lato');


.wrapper {
  position: relative;
  padding-right: 12px;
  padding-left: 12px;
  position: relative;
  padding-bottom: 55%;
  background-color: rgba(0, 0, 0, .5)
}

.header {
  max-width: 1281px;
  margin: 0 auto;
  background-image: url('../assets/images/vegetables-min.jpg');
  background-position: center;
  background-size: cover;
}

.top-header {
  display: flex;
  justify-content: space-between;
}

.title-primary {
  font-weight: bold;
  padding: .7rem;
  margin: 0;
  text-shadow: 0 0 8px #bbb;
}


.description {
  font-weight: normal;
  padding: .5rem;
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  right: 2rem;
  left: 2rem;
  text-shadow: 0 0 4px #ccc;
}

.menu-button {
  margin: .1rem;
}

@media (min-width: 640px) {
  .wrapper {
    height: 431.5px;
    padding-bottom: 0;
  }
}
